<!DOCTYPE html>
  <body>
    <h2>List of Accounts</h2>
    <table>
      <tr>
        <th>ID</th>
        <th>Email</th>
        <th>Update email</th>
        <th>Delete account</th>
      </tr>
    <% accounts.forEach((account) => { %>
      <tr>
        <td style="padding: 0 20px"><%= account.id %></td>
        <td style="padding: 0 20px"><%= account.email %></td>
        <td style="padding: 0 20px">
          <form name="updateAccount" method="POST"
                action="/accounts/<%= account.id %>/update">
            <input type="text" name="email" />
            <input type="submit" value="Update" />
          </form>
        </td>
        <td style="padding: 0 20px">
          <form name="deleteAccount" method="POST" 
                action="/accounts/<%= account.id %>/delete">
            <input type="submit" value="Delete" />
          </form>
        </td>
      </tr>
    <% }) %>
    </table>

    <h2>Create Account</h2>
    <form name="createAccount" method="POST" action="/accounts/create">
      <label for="email">Email</label>
      <input type="text" name="email" />
      <input type="submit" value="Save" />
    </form>

    <% if (error) { %>
      <h3>Error: <%= error %></h3>
    <% } %>
  </body>
</html>
